<%- include('../header') %>


    <div class="page-wrapper">

        <div class="page-breadcrumb">
            <div class="row justify-content-end">
                <div class="col-9 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Category</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" enctype="multipart/form-data"
                            action="/category/updateCategory/<%= singleCategory.id %>" method="post">
                            <div class="card-body pb-0">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label for="fname"
                                            class="col-sm-5 text-right control-label col-form-label">Category
                                            Name</label>
                                        <div class="col-sm-7 p-0">
                                            <input type="text" class="form-control" name="categoryName"
                                                value="<%= singleCategory.categoryName %>" id="fname"
                                                placeholder="Category Name...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label for="fname"
                                            class="col-sm-5 text-right control-label col-form-label">Category
                                            Image</label>   
                                        <div class="col-sm-7 p-0 d-flex">
                                            <input type="file" name="categoryImage"
                                                value="<%= singleCategory.categoryImage %>" class="form-control mr-3"
                                                style="width: 194px;" id="fname">
                                            <img src="<%= singleCategory.categoryImage %>" width="70" height="50"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <input type="submit" class="btn btn-success mx-auto d-block"
                                        value="Update Category" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <%- include('../footer') %>