<%- include('../header') %>

    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <div class="page-wrapper">

        <div class="page-breadcrumb">
            <div class="row justify-content-center">
                <div class="col-10 d-flex no-block align-items-center">
                    <h4 class="page-title">View Extra Categories</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card">
                        <form class="my-3 ml-3">
                            <input type="text" placeholder="Search Category..." name="search">
                            <input type="submit" value="Search">
                        </form>
                        <table class="table table-bordered text-center">
                            <thead class="table-dark ">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Sub Category Name</th>
                                    <th scope="col">Extra Category Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% extraCategories.map((val,i)=>{ %>
                                    <tr>
                                        <th scope="row" class="py-0 pt-3 px-0">
                                            <%= ++i %>
                                        </th>
                                        <td class="py-2 px-0">
                                            <img src="<%= val.category.categoryImage %>" width="45" height="43"
                                                style="border-radius:50%">
                                        </td>
                                        <td class="pb-0 pt-3 px-0">
                                            <%= val.category.categoryName %>
                                        </td>
                                        <td class="pb-2 pt-3 px-0">
                                            <%= val.subCategory.subCategoryName %>
                                        </td>
                                        <td class="pb-2 pt-3 px-0">
                                            <%= val.extraCategoryName %>
                                        </td>
                                        <td class=" pb-3 pt-3 pr-0" style="display: flex; align-items: center;">
                                            <a href="/extraCategory/deleteExtraCategory/<%= val.id %>"
                                                class="btn-sm btn-danger d-flex align-items-center justify-content-center shadow-sm p-0 px-1 mr-2"
                                                style="font-size: 14px; font-weight: 500; border-radius: 5px;">
                                                <i class="mdi mdi-delete mr-1" style="font-size: 20px;"></i>
                                                Delete
                                            </a>
                                            <a href="/extraCategory/editExtraCategory/<%= val.id %>"
                                                class="btn-sm btn-success d-flex align-items-center justify-content-center shadow-sm"
                                                style="font-size: 14px; font-weight: 500; border-radius: 5px;">
                                                <i class="fas fa-edit mr-1" style="font-size: 14px;"></i>
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer') %>